* {
    padding: 0;
    margin: 0;
}

.clearfix::before,
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

a,
p, h1, h2, h3, h4, h5, h6, span {
    text-decoration: none;
    font-size: 1.1em;
    font-family: "Roboto", sans-serif;
    color: #111;
    /*   color: #B24904;   point color: 111*/
}

font {
    /* 메인 글씨 weight 100, 200, 300, 400, 500 */
    font-family: "Roboto", sans-serif;
}

ul, li{
    list-style: none;
    /* text-align: center; */
}

body{
    background: #f2f2f2;
    /* position: relative; */
}
section{
    width: 70%;
}

/********** custom *********/

/* 메인 소개 페이지 */
.main{
    min-height: 100vh;
    margin: auto;
    position: relative;
}

/* 메뉴 */
.nav_links{
    /* display: flex; */
    text-align: right;
}
.nav_links ul  li{
    display: inline-block;
    margin-top: 5%;
    padding: 15px 30px;
    position: relative;
}

.nav_links ul li a{
    color: black;
    font-size: 20px;
    /* font-weight: 400; */
}

.nav_links ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #5157D0;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav_links ul li a:hover::after{
    width: 100%;
}

/* 하위메뉴 */
.sub_nav{
    display: none;
    position: absolute;
    text-align: center;
    margin-top: 20px;
    left: 0;
}

/* 소개 글자 */
.hsj{
    width: 100%;
    height: 45vh;
    position: absolute;
    bottom: 5%;
}
.hsj p{
    font-size: 56px;
    font-weight: 400;
}

/* 프로필 페이지 */

.profile{
    margin: auto;
    padding-bottom: 10%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.profile_left{
    width: 35%;
    
}
.profile_left img{
    width: 180px;
    height: auto;
    margin: 35% 10% 15%; 
    filter: drop-shadow(-5px 5px 10px #999);
}
.profile_left ul{
    margin-left: 10%;
}
.profile_left ul li{
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* text-align: justify; */
}
.profile_left ul li h3{
    font-size: 17px;
    font-weight: 600;
    color: #333;
    text-align: justify;
    width: 70px;
}
.profile_left ul li p{
    font-size: 16px;
    font-weight: 400;
    color: #555;
    padding-left: 8%;
    display: inline;
}

/* 약력, 보유스킬, 자격증 */
/* 약력 */
.profile_right{
    width: 48%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5%;
}
.profile_right div{
    width: 90%;
    flex-basis: 33%;
    box-sizing: border-box;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
    /* box-shadow: inset 2px 2px rgba(0,0,0,0.15); */
    border-radius: 20px;
    margin: 2% 0;
    padding: 4%;
    transition: 0.7s;
}
.profile_right div:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
}
.profile_con{
    width: 100%;
    background: #fff;
}
.profile_con h3{
    /* display: inline; */
    position: relative;
}
.profile_con a{
    font-size: 15px;
    color: #5157D0;
    position: absolute;
    right: 7%;
    top: 12.5%;
    transition: 1s;
}

.profile_con a:hover{
    text-decoration: underline;
    text-decoration-color: #5157D0;
    text-decoration-style: wavy;
}
.profile_con ul li h4{
    display: inline;
}
.profile_con ul li{
    padding: 3.5px 0;
}
.profile_con ul li p{
    text-align: left;
    position: relative;
}
.profile_con ul li p span{
    right: 0;
    position: absolute;
}
/* 보유스킬 */
.skills{
    width: 100%;
    background: rgba(82, 87, 208, 0.2);
}
.skills ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.skills li{
    flex-basis: 28%;
    padding: 5px 0;
}
.progress{
    display: inline-block;
    width: 90%;
    height: 15px;
    background-color: #f2f2f2;
    box-shadow: inset -2px -2px rgba(0,0,0,0.15);
    position: relative;
    border-radius: 10px;
}

.progress span{
    display: inline-block;
    width: 55%;
    height: 100%;
    background-color: #5157D0;
    box-shadow: inset 4px -4px rgba(0,0,0,0.15);
    position: absolute;
    left: 0; top: 0;
    border-radius: 10px;
}

.ai_progress span{
    width: 45%;
}
.fig_progress span{
    width: 40%;
}
.html_progress span{
    width: 45%;
}
.ps_progress span{
    width: 25%;
}
.dw_progress span{
    width: 65%;
}
.css_progress span{
    width: 45%;
}

/* 자격증 */
.certificate{
    width: 100%;
    background: #fff;
}
.certificate ul li{
    width: 90%;
    padding: 1.5px 0;
}
.certificate ul li h4{
    display: inline;
    text-align: left;
    position: relative;
}
.certificate ul li p{
    display: inline;
    position: absolute;
    right: 7%;
}

/* common */
.profile_right div h3{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 7px 0;
}
.profile_right div ul li h4{
    font-size: 16px;
    font-weight: 600;
    color: #444;
}
.profile_right div p{
    font-size: 14px;
    font-weight: 400;
    color: #555;
}

/* 마무리 */
footer{
    margin: 0 auto;
    width: 70%;
    height: 1080px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer img{
    width: 350px;
    height: auto;
    margin-bottom: 50px;
}
footer p{
    text-align: center;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.1em;
    line-height: 38px;
}
footer p span{
    font-weight: 500;
}